<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitlife - Krupal</title>

    <!-- 
    - favicon
  -->
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

    <!-- 
    - custom css link
  -->
    <link rel="stylesheet" href="./assets/css/style.css">

    <!-- 
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Catamaran:wght@600;700;800;900&family=Rubik:wght@400;500;800&display=swap"
        rel="stylesheet">

    <!-- 
    - preload images
  -->
    <link rel="preload" as="image" href="./assets/images/hero-banner.png">
    <link rel="preload" as="image" href="./assets/images/hero-circle-one.png">
    <link rel="preload" as="image" href="./assets/images/hero-circle-two.png">
    <link rel="preload" as="image" href="./assets/images/heart-rate.svg">
    <link rel="preload" as="image" href="./assets/images/calories.svg">

</head>

<header class="header" data-header>
    <div class="container">

        <a href="#" class="logo">
            <ion-icon name="barbell-sharp" aria-hidden="true"></ion-icon>

            <span class="span">Fitlife</span>
        </a>

        <nav class="navbar" data-navbar>

            <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
                <ion-icon name="close-sharp" aria-hidden="true"></ion-icon>
            </button>

            <ul class="navbar-list">

                <li>
                    <a href="./index.html" class="navbar-link active" data-nav-link>Home</a>
                </li>

                <li>
                    <a href="#about" class="navbar-link" data-nav-link>About Us</a>
                </li>

                <li>
                    <a href="./services.html" class="navbar-link" data-nav-link>Services</a>
                </li>

                <li>
                    <a href="#blog" class="navbar-link" data-nav-link>Blog</a>
                </li>

                <li>
                    <a href="#" class="navbar-link" data-nav-link>Contact Us</a>
                </li>

            </ul>

        </nav>

        <a href="#" class="btn btn-secondary">Join Now</a>

        <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>

    </div>
</header>

